<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.company.name}}</h5>
        {{#link-to "companies.show" this.company.id class="btn btn-primary"}}Details{{/link-to}}
    </div>
</div>