<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.company.name}}</h5>
        <p class="card-text">{{this.company.street}} {{this.company.site}}</p>
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>