<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.inventory_item.name}}</h5>
        {{#link-to "inventory-items.show" this.inventory_item.id class="btn btn-primary"}}Details{{/link-to}}
    </div>
</div>