{{#each this.inventory_item_components as |inventory_item_component|}}
    <div class="mt-1">
        <InventoryItemComponent @inventory_item_component={{inventory_item_component}} />
    </div>
{{/each}}