<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.material.vendor_sku}}</h5>
        {{#link-to "materials.show" this.material.id class="btn btn-primary"}}Details{{/link-to}}
    </div>
</div>