{{#bs-navbar as |navbar|}}
    <div class="navbar-header">
        {{ navbar.toggle }}
        {{#link-to "index"}}
            <h1>JIMS</h1>
        {{/link-to}}
    </div>
    {{#navbar.content}}
        {{#navbar.nav as |nav|}}
            {{#nav.item}}
                {{#nav.link-to "companies"}}Companies{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "users"}}Users{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "vendors"}}Vendors{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "inventory-types"}}Inventory Types{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "inventory-items"}}Inventory Items{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "materials"}}Materials{{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#nav.link-to "about"}}About{{/nav.link-to}}
            {{/nav.item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}