<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.vendor.name}}</h5>
        {{#link-to "vendors.show" this.vendor.id class="btn btn-primary"}}Details{{/link-to}}
    </div>
</div>