<div class="jumbotron">
    <div class="right"></div>
    <h2>About</h2>
    <p>
        JIMS (Jordan's Inventory Management System) is a basic IMS that allows for recording materials, vendors, and
        basic kitting.
    </p>
    <p><a href="https://www.github.com/jbanass/jims" target="_blank">I'm open source, so check me out!</a></p>
    <p>Made with <span style="color:red;">{{fa-icon "heart"}}</span></p>
</div>