<div class="jumbotron">
    <div class="right"></div>
    <h2>About</h2>
    <p>
        JIMS (Jordan's Inventory Management System) is a basic IMS that allows for recording materials, vendors, and
        basic kitting.
    </p>
</div>